/* ====================== geral ======================= */
*{  
    font-family: 'Roboto';
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

:root{
    --mobile-page-width: 375px;
    --color-red-page: #EC362D;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    width: var(--mobile-page-width);
    height: 69px;
    background-color: var(--color-red-page);
    position: fixed;
    top: 0;
    box-shadow: 0px 4px 4px #11111163;
    z-index: 3;
}

main{
    margin-top: 69px;
    display: flex;
    flex-direction: column;
    
}

/* =============== my quizzes section ======================== */

.my-quizzes__no-quizz{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: dashed 1px #D4D4D4;
    width: 340px;
    height: 181px;
    margin-top: 31px;
    margin-bottom: 35px;
    position: relative;
}


.my-quizzes-created{
    display:flex;
    flex-direction: column; 
    align-items: center;
    margin-top: 36px;
    margin-bottom: 16px;
    position: relative


}

.my-quizzes__with-quizz__links{
    margin-top: 15px;
}

.my-quizzes-created__legend{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 340px;
}

/* ============== active quizz screen ======================== */

.active-quizz__questions-box{    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 18px;

}

.active-quizz__answers-box{
    margin-top: 13px;
    display: flex;
    flex-wrap: wrap;
    width: 340px;
    justify-content: space-between;
}

.not-selected{
    opacity: 0.5;
}


/* ------------ results window -------------------- */

.results{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


/* --------------- quizz window creating ----------- */


.quizz-creation-window__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.config-answer-box{
    display: flex;
    flex-direction: column;
 
    
}

.level-box, .question-box{
    display: flex;
    width: 375px;
    height: 74px;
    margin-bottom: 22px;
    align-items: center;
    justify-content: space-between;
}

.your-quizz-was-created{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


@media (min-width: 1100px) {
    header{
        width: 100%;
    }

    .all-quizzes__list-quizzes, .my-quizzes__with-quizz__links{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 1066px;
        flex-wrap: wrap;
    }

    .all-quizzes{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .all-quizzes h2{
        width: 1066px;
    }

    .my-quizzes-created__legend{
        width: 1066px;
        justify-content: left;
    }

    .my-quizzes-created__legend h2{
        margin-right: 26px;
    }

    .my-quizzes__no-quizz{
        width: 1066px;
    }

    main{
        width: 100%;
        justify-content: center;
    }

    .active-quizz__answers-box{
        width: 670px;
        /* height: 676px; */
    }

}