button{
    width: 221px;
    height: 44px;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    font-size: 18px;    
    font-weight: 400;
}


.results__restart-button{
    
    border-radius: 15px;
    background-color: #EC362D;
    color: white;
    margin-bottom: 8px;

}

.results__reset-button{
    background-color: white;
    color: #818181;
    margin-bottom: 66px;

}

/*  button of the my-quizzes section */
.my-quizzes__no-quizz button{
    border: 1px dashed; 
    border-color: #EC362D;
    color: #EC362D;
    width: 151px;
    height: 40px;
    background-color: white;
    border-radius: 50px;
    position: absolute;
    bottom: 33px;
}


.quizz-creation-window__button{
    width: 325px;
    height: 54px;
    background-color: #EC362D;
    color: white;
    margin-top: 28px;

}

@media(min-width:1100px){

    button{
        font-size: 22px;
    }
    
    .results__restart-button{
        width: 221px;
        height: 44px;
    }

    .quizz-creation-window__button{
        width: 370px;
    }
    .results__restart-button{
        width: 261px;
    }
    
}