/* ------- general figures ------------- */
figure {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    margin-bottom: 14px;
    position: relative;
}

    img {
        width: 340px;
        height: 181px;
    }

    figcaption {
        z-index: 2;
        color: white;
    }


/* ------------ pictures of main menu quizzes --------------- */
figure.all-quizzes__list-quizzes__quizz{
    cursor: pointer;
}


/* ------------ main menu pictures ---------------------- */
figure.all-quizzes__list-quizzes__quizz{
    position: relative;
}

    figure.all-quizzes__list-quizzes__quizz img{
        border-radius: 5px;
    }

    figure.all-quizzes__list-quizzes__quizz figcaption{
        position: absolute;
        bottom: 14px;
        left: 18px;
    }


 /* ------------ header quizz picture --------- */
 figure.active-quizz__header{
    align-items: center;
    justify-content: center;
 }

figure.active-quizz__header figcaption{
    position: absolute;
    font-weight: 400;
    font-size: 19px;
    color: rgb(255, 255, 255);
}

figure.active-quizz__header img{
    width: 375px;
    height: 142px;
}

/* ------------ answers figures ------------*/
figure.active-quizz__questions-box__answers{
    box-sizing: content-box;
    cursor: pointer;

}

    .alternative-figcaption{
        position: static;
        color: black;
        font-weight: 700;
        font-size: 13px;
        margin-top: 10px;
    }

    .alternative-figcaption.correct-answer{
        color: #009C22;
    }

    .alternative-figcaption.wrong-answer{
        color: #FF0B0B;
    }

    .alternative-img{
        width: 163px;
        height: 113px;
        border-radius: 0;
    }



/* ------------- result figure ------------- */

.result__img{
    height: 255px;
}


@media(min-width:1100px){

    figure.active-quizz__header img{
        width: 100%;
    }

    .alternative-img{
        width: 330px;
        height: 175px;
    }

    .my-quizzes img{
        margin-right: 15px;
    }

    .all-quizzes img{
        margin-right: 15px;
    }

    .legend-results img{
        width: 364px;
        height: 273px;
        margin-right: 21px;
    }

    .your-quizz-was-created figure{
        width: 500px !important;
        height: 300px !important    ; 
    }
    .your-quizz-was-created img{
        width: 500px;
        height: 266px;
    }
}